<?xml version="1.0" ?>
<config>
  
  <io description="This path will be prepended to the 'image' attribute for the corresponding 'for' tag">
    <path for="maps" value=":/PowerGrid/Resources/config/map/"/>
    <path for="cards" value=":/resrouce/map/"/>
    <path for="colors" value=":/resrouce/house/"/>
  </io>
  
  <maps description="Available maps">
    <map file="USAMap.xml" description="USA map"/>
  </maps>

  <market description="Resrouce market">
    <resource name="coal" total="24" initial="24"/>
    <resource name="oil" total ="24" initial="18"/>
    <resource name="garbage" total="24" initial="6"/>
    <resource name="uranium" total="12" initial="2"/>
  </market>

  <cards description="Deck of cards including standard and step cards">
    <standardCard price="3" image="" resources="3" power="4">
      <resource name="coal"/>
      <resource name="oil"/>
    </standardCard>
    <standardCard price="4" image="" resources="2" power="3">
      <resource name="uranium"/>
    </standardCard>
    <standardCard price="5" image="" resources="4" power="4">
      <resource name="oil"/>
    </standardCard>
    <standardCard price="13" image="" resources="0" power="1" />
    <stepCard step="3" image=""/>
  </cards>

  <overview description="Instruction card">
    <step number="1" title="Determine Turn Order"></step>
    <step number="2" title="Buy Power Plant">
      <info text="The first player begins"/>
      <info text="Per round, each may buy only one power plant"/>
    </step>
    <step number="3" title="Buy Raw Materials">
      <info text="The last player begins"/>
      <info text="Maximum double input per power plant"/>
    </step>
    <step number="4" title="Building">
      <info text="The last player begins"/>
    </step>
    <step number="5" title="Bureaucracy">
      <info text="Get money"/>
      <info text="In phase 1 and 2: Place highest power plant under the stack"/>
      <info text="In phase 3: Remove lowest power plant from the game"/>
      <info text="Restock raw materials"/>
    </step>
  </overview>
  
  <money amount="50" description="Initial amount of money per player"/>
  
  <colors description="House colors">
    <color name="black" image=""/>
    <color name="purple" image=""/>
    <color name="green" image=""/>
    <color name="blue" image=""/>
    <color name="yellow" image=""/>
    <color name="red" image=""/>
  </colors>
</config>