<?xml version="1.0" ?>
<config>

  <io description="This path will be prepended to the 'image' attribute for the corresponding 'for' tag">
    <path for="maps" value=":/PowerGrid/Resources/config/map/"/>
    <path for="cards" value=":/resrouce/map/"/>
    <path for="colors" value=":/resrouce/house/"/>
  </io>

  <maps description="Available maps">
    <map file="USAMap.xml" description="USA map"/>
  </maps>

  <market description="Resrouce market">
    <resource name="coal" initial="24"/>
    <resource name="oil" initial="18"/>
    <resource name="garbage" initial="6"/>
    <resource name="uranium" initial="2"/>
  </market>

  <cards description="Deck of cards including standard and step cards">
   <powerPlantCard price="3" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="1">
      <resource name="oil"/>
    </powerPlantCard> 
	<powerPlantCard price="4" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="1">
      <resource name="coal"/>
    </powerPlantCard>
   
   <powerPlantCard price="5" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="1">
      <resource name="coal"/>
      <resource name="oil"/>
    </powerPlantCard>
   
    <powerPlantCard price="6" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="1">
      <resource name="garbage"/>
    </powerPlantCard>
    <powerPlantCard price="7" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="2">
      <resource name="oil"/>
    </powerPlantCard>
    <powerPlantCard price="8" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="2">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="9" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="1">
      <resource name="oil"/>
    </powerPlantCard>
    <powerPlantCard price="10" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="2">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="11" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="2">
      <resource name="uranium"/>
    </powerPlantCard>
    <powerPlantCard price="12" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="2">
      <resource name="oil"/>
      <resource name="coal"/>
    </powerPlantCard>
	 <powerPlantCard price="13" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="1" ignore_first="no" position="top" />

    <powerPlantCard price="14" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="2">
      <resource name="garbage"/>
    </powerPlantCard>
    <powerPlantCard price="15" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="3">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="16" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="3">
      <resource name="oil"/>
    </powerPlantCard>
    <powerPlantCard price="17" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="2">
      <resource name="uranium"/>
    </powerPlantCard>
	<powerPlantCard price="18" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="2" />
   <powerPlantCard price="19" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="3">
      <resource name="garbage"/>
    </powerPlantCard>
	 <powerPlantCard price="20" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="5">
      <resource name="coal"/>
    </powerPlantCard>
	 <powerPlantCard price="21" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="4">
      <resource name="coal"/>
      <resource name="oil"/>
    </powerPlantCard>
	<powerPlantCard price="22" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="2" />

    <powerPlantCard price="23" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="3">
      <resource name="uranium"/>
    </powerPlantCard>
	 <powerPlantCard price="24" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="4">
      <resource name="garbage"/>
    </powerPlantCard>
    <powerPlantCard price="25" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="5">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="26" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="5">
      <resource name="oil"/>
    </powerPlantCard>
	<powerPlantCard price="27" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="3" />
    <powerPlantCard price="28" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="4">
      <resource name="uranium"/>
    </powerPlantCard>
    <powerPlantCard price="29" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="4">
      <resource name="coal"/>
      <resource name="oil"/>
    </powerPlantCard>
    <powerPlantCard price="30" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="6">
      <resource name="garbage"/>
    </powerPlantCard>
    <powerPlantCard price="31" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="6">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="32" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="6">
      <resource name="oil"/>
    </powerPlantCard>
	<powerPlantCard price="33" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="4" />
    <powerPlantCard price="34" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="5">
      <resource name="uranium"/>
    </powerPlantCard>
	  <powerPlantCard price="35" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="5">
      <resource name="oil"/>
    </powerPlantCard>
	  <powerPlantCard price="36" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="7">
      <resource name="coal"/>
    </powerPlantCard>
	<powerPlantCard price="37" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="4" />

    <powerPlantCard price="38" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="7">
      <resource name="garbage"/>
    </powerPlantCard>
    <powerPlantCard price="39" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="1" power="6">
      <resource name="uranium"/>
    </powerPlantCard>
    <powerPlantCard price="40" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="6">
      <resource name="oil"/>
    </powerPlantCard>
    <powerPlantCard price="42" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="2" power="6">
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="44" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="5" />

    <powerPlantCard price="46" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="3" power="7">
      <resource name="oil"/>
      <resource name="coal"/>
    </powerPlantCard>
    <powerPlantCard price="50" image=":/PowerGrid/Resources/powerplants/dummy.png" resources="0" power="6" />
    <stepCard step="3" image="" ignore_first="no" position="bottom"/>
  </cards>

  <overview description="Instruction card">
    <step number="1" title="Determine Turn Order"></step>
    <step number="2" title="Buy Power Plant">
      <info text="The first player begins"/>
      <info text="Per round, each may buy only one power plant"/>
    </step>
    <step number="3" title="Buy Raw Materials">
      <info text="The last player begins"/>
      <info text="Maximum double input per power plant"/>
    </step>
    <step number="4" title="Building">
      <info text="The last player begins"/>
    </step>
    <step number="5" title="Bureaucracy">
      <info text="Get money"/>
      <info text="In phase 1 and 2: Place highest power plant under the stack"/>
      <info text="In phase 3: Remove lowest power plant from the game"/>
      <info text="Restock raw materials"/>
    </step>
  </overview>

  <money amount="50" description="Initial amount of money per player"/>

  <colors description="House colors">
    <color name="black" image=":/PowerGrid/Resources/houses/black.png"/>
    <color name="purple" image=":/PowerGrid/Resources/houses/purple.png"/>
    <color name="green" image=":/PowerGrid/Resources/houses/green.png"/>
    <color name="blue" image=":/PowerGrid/Resources/houses/blue.png"/>
    <color name="yellow" image=":/PowerGrid/Resources/houses/yellow.png"/>
    <color name="red" image=":/PowerGrid/Resources/houses/red.png"/>
  </colors>
</config>